.navbar.navbar-fixed-top
  .navbar-inner
    %a.brand{href: root_path}
      Populinator
    %ul.nav
      %li
        = link_to 'Settlements', settlements_path
      %li
        = link_to 'Languages', languages_path

